body {
    margin: 0 auto;
    font-family: Arial;
}

/**********************************************
                    MOBILE
**********************************************/
    /***************
       General
    ****************/
.name {
    text-align: center;
    font-size: 5rem;
    font-family: 'Orbitron', sans-serif;    
} 

h2 {
    font-family: 'Orbitron', sans-serif; 
    text-align: center;
    font-size: 3rem;
}

p {
    font-family: 'Khand', sans-serif;
    font-size: 1.25rem;
    text-align: center;
}
    /***************
        Nav Bar
    ****************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    margin-bottom: 10vh;
    font-size: 2.5rem;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;    
    padding: 0;
} 

 li {
    padding: 10px;
    margin: 0 30px;
} 

a {
    color: black; 
    text-decoration: none;
} 

.arrowDown {
    display: none;
}

/** INDEX **/
   /***************
        Projects
    ****************/

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-bottom: 200px;

}

.box {
    padding: 0;
    margin: 10px;
}

.box img {
    width: 100%;
    margin: auto;
}



    /***************
        About
    ****************/
#about p{
    margin: 40px;
}

#about {
    margin-bottom: 200px;
}

    /***************
        Contact
    ****************/

#contact form{
    display: flex;
    flex-direction: column;
    margin: 30px;
    
}

#contact input,textarea {
    padding: 12px 20px;
    font-size: 3rem;
    margin: 3px 0px;
    border: 3px solid black;
    border-radius: 10px;
}

#contact input::placeholder, textarea::placeholder, input[type="submit"]{
    font-size: 2.5rem;
    font-family: 'Orbitron', sans-serif;
}

#contact input[type="submit"] {
    background-color: black;
    color: white;
    border-radius: 10px;
}



/* h2 {
    font-size: 3em;
    text-align: center;
}

p {
    text-align: center;
} */ 

/***********************************************************************
 *  Nav Bar
 **********************************************************************/


/* .main-nav li {
    color: black;
} */

/* @media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
} */

 /* 

 

a:hover {
    text-decoration: underline;
}  */

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}  */

/* .arrowDown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.arrowDown > img {
    width: 64px;
    height: 64px;
} */

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
 
/* 
}



.box:hover {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.box > img {
    width: 100%;
    height: 100%;
} */

/***********************************************************************
 *  Contact
 **********************************************************************/
/* .contact-form {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.contact-form > form {
    display: flex;
    flex-direction: column;

}

.contact-form input {
    margin-bottom: 6px;
}

input , textarea{
    border: 1px solid black;
    border-radius: 1px;
    height: 30px;
    /* text-indent: 10px; */
    /* font-family: inherit;
    font-size: inherit;
  }

textarea {
      height: 100px;
}

#contact {
    margin-bottom: 30px;
}  

/***********************************************************************
 *  Projects
 **********************************************************************/


 /* FLEXBOX 
 
 .project-info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-left: 30%;
}

.project-info p {
    text-align: left;
}

.project-images-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.project-images-container img {
    margin-bottom: 30px;
}

.project {
    margin-bottom: 40px;
} */

/* .project {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;

}

.project p {
    grid-column-start: 2;
    text-align: left;
    grid-column-end: 5;
    margin: 1.5px;
}

.cover {
    grid-column-start: 2;
    grid-column-end: 5;
}

.cover img {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .project {
        display: grid;
        grid-template-columns: 1fr 8fr 8fr 8fr 1fr;  
    }
    .project p {
        color:red;
    }
} */

/* .zone {
    padding:30px 50px;
    cursor:pointer;
    color:#FFF; 
     font-size:2em;
    border-radius: 2px;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */